In [62]:
import pandas as pd

In [63]:
d=pd.read_csv("TurkQP.csv")

In [64]:
d.sample(frac=1).head()

,q1,q2,duplicate
774,Öğrenci kulüplerine sağlanan imkanlar nelerdir?,öğrenci kulüplerine ne tip imkanlar sunuluyor,1
2370,Diplomamı kaybettim yeni diploma alabilir miyim?,Diplomamı benim yerime bir başkası alabilir mi?,0
470,ders kaydımda çakışma olduğunda ne yapmalıyım,Çakışan derslerim var ders kaydım onaylanır mı?,1
2403,Mezuniyet başarı sıralamamı öğrenebilir miyim?,Mezuniyet başarı sıralamamı öğrenebilir miyim?,0
1775,Hangi üniversitelerden yatay geçiş kabul ediyo...,Ana dal yan dal çift anadal programlarında der...,0

In [65]:
d.duplicate.value_counts()

0    2187
1    1377
Name: duplicate, dtype: int64

* 0: is not duplicate
* 1: is duplicate